:root {
    --dark: #444;
    --gray: #888;
    --white: #f0f0f0;
    --pink: #fc2063;
    --peach: #fd5185;
}

:root {
    --ease: 0.2s;
}

body {
    background-color: var(--dark);
    background-image: url('/assets/back.svg');
    color: var(--white);
    font-size: 11.5pt;
    font-family: 'Josefin Sans','M PLUS 1p', sans-serif;
}

h1 {
    font-weight: 400;
}

body, h1 , div, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--white);
    transition: var(--ease);
}

a:hover {
    color: var(--dark);
    background-color: var(--white);
}
