.nav {
    width: 40%;
    position: fixed;
    bottom: calc(100vh - 3rem);
    right: 0;
    z-index: 100;
}

@media screen and (max-width: 480px) {
    .nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        background: linear-gradient(transparent, #000);
    }
}

.nav > ul {
    width: 100%;
    list-style: none;
    display: flex;
}

.nav > ul > li {
    width: 100%;
}

