.summary {
    position: relative;
    padding: 0.3rem;
}

@media screen and (max-width: 480px){
    .summary {
        padding: 0.25rem 0.5rem;
        width: 100%;
    }
    .summary > picture > img{
        width: 100%;
    }
}
