.summary {
    position: relative;
    display: block;
    padding: 0.3rem;
}


.summary {
    text-decoration: none;
}

@media screen and (max-width: 480px){
    .summary {
        padding: 0.25rem 0.5rem;
        width: 100%;
    }
    .thumbnail > img{
        width: 100%;
    }
}
